<!DOCTYPE html>
<html lang="en">
<head>
    <title>INFO</title>
</head>
<body>
    <h1>Mi nombre es <%= name %></h1>
    <h2>What are some honest, unfiltered things about you?</h2>
    <p><%= answer1 %></p>
    <h2>What drives you nuts?</h2>
    <p><%= answer2 %></p>
    <h2>How can people earn an extra gold star with you?</h2>
    <p><%= answer3 %></p>
    <h2>What are some things that people might misunderstand about you that you should clarify?</h2>
    <p><%= answer4 %></p>
    <h2>What's the best way to convince you to do something?</h2>
    <p><%= answer5 %></p>
    <h2>How do you like to get feedback?</h2>
    <p><%= answer6 %></p>
</body>
</html>
        