<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NoWhere | Member <%= TEAM[member.to_sym][:name] %></title>
    <link
      rel="icon"
      type="image/png"
      href="https://i.imgur.com/3t8FYL1.png"
      sizes="32x32"
    />

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
      rel="stylesheet"
    />
  </head>
  <body class="menber team">
    <header class="header">
      <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
          <div id="logo">
            <h1><a href="/">Nowhere</a></h1>
          </div>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop" />
          <ul class="menu mt-2">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/team">Team</a></li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
    </header>
    <div class="container">
      <section class="hand-crafted bg-light py-5">
        <div class="container py-xl-5 py-lg-3">
          <div class="row banner-grids">
            <div class="col-lg-4 banner-image">
              <div class="effect-w3">
                <img
                  src=<%= TEAM[member.to_sym][:image] %>
                  alt=""
                  \
                  class="img-fluid image1"
                />
              </div>
            </div>
            <div class="col-lg-8 last-img pl-lg-5 p-3">
              <h3 class="tittle mb-4">
                <%= TEAM[member.to_sym][:name] %>
              </h3>
              <p class="mb-0 bolder">
                What are some honest, unfiltered things about you?
              </p>
              <p class="mb-0">
                <%= TEAM[member.to_sym][:honest] %>
              </p>
              <p class="mb-0 bolder">
                What drives you nuts?
              </p>
              <p class="mb-0">
                <%= TEAM[member.to_sym][:nuts] %>
              </p>
               <p class="mb-0 bolder">
                How can people earn an extra gold star with you?
              </p>
              <p class="mb-0">
                <%= TEAM[member.to_sym][:gold_star] %>
              </p>
              <p class="mb-0 bolder">
                What are some things that people might misunderstand about you that you should clarify?
              </p>
              <p class="mb-0">
                <%= TEAM[member.to_sym][:misunderstand] %>
              </p>
              <p class="mb-0 bolder">
                What's the best way to convince you to do something?
              </p>
              <p class="mb-0">
                <%= TEAM[member.to_sym][:convince] %>
              </p>
              <p class="mb-0 bolder">
                How do you like to get feedback?
              </p>
              <p class="mb-0">
                <%= TEAM[member.to_sym][:feedback] %>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- //team -->
  </body>
</html>
