<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Guide</title>
</head>
<body style="background-color:aliceblue; font-family:verdana; width:80%; margin:0px auto;">
  <div style = "margin:0px auto">
    <div style="background-color:royalblue; color:white; text-align:center; height: 80px;">
      <h1><strong>This is <%= name %></strong></h1>
    </div>
      <div style="width:95%; margin:0 auto;">
        <h2>What are some honest, unfiltered things about you?</h2>
        <p><%= answer1 %></p>
        <h2>What drives you nuts?</h2>
        <p><%= answer2 %></p>
        <h2>How can people earn an extra gold star with you?</h2>
        <p><%= answer3 %></p>
        <h2>What are some things that people might misunderstand about you that you should clarify?</h2>
        <p><%= answer4 %></p>
        <h2>What's the best way to convince you to do something?</h2>
        <p><%= answer5 %></p>
        <h2>How do you like to get feedback?</h2>
        <p><%= answer6 %></p>
      </div>
    </div>
</body>
</html>